__pycache__/
*.pyc
.env
*.ipynb_checkpoints
env/
passwords/
13_100_days_of_code/Day_31_to_40/Day_32/lesson_01/my_pass.py
13_100_days_of_code/Day_31_to_40/Day_32/lesson_03/my_pass.py
13_100_days_of_code/Day_31_to_40/Day_32/day_project/my_pass.py